<!DOCTYPE html>
<html>

	<head>
		<link rel='stylesheet' type='text/css' href='stylep1.css' />
		<style type="text/css">
		img{
			border-radius: 10px;
		}

		</style>
	</head>


	<body>	
		<!--
		<div class="criarconta">
			<h4>Criar conta</h4>
		</div>	-->
		<div class="caixabranca">
			<div class="logo">
				<img src="logo1.png" alt="logo"></img>
			</div>
			<h1> Entre para ver mais </h1>
			<div class="acesse">
			<p> Acesse as melhores ideias do Pinterest com uma conta gratuita</p>
			</div>
				<input class="email" type="email" name="email"
					placeholder="  E-mail ou telefone" >
				<input class="senha" type="password" name="email"
					placeholder="  Senha" >					
			
			<div class="entrar">
				<p> <a href="localhost:8180/login">Entrar</a> </p>
			</div>		
			<div class="esqueceu">
				<p>Esqueceu sua senha?</p>
			</div>		
			<div class="ou">
				<p>Ou</p>
			</div>		
			<div class="facebook">
				<p>Continuar com o Facebook</p>
				<div class="facebooklogo">
				<img src="img12.png" alt="logo"></img>
				</div>
			</div>		
			<div class="google">
				<p>Continuar com o Google</p>
				<div class="googlelogo">
				<img src="img13.png" alt="logo"></img>
				</div>
			</div>
			<div class="termos">
				<p> Ao continuar você concorda com os Termos de Serviço e com a Política de Privacidade do Pinterest</p>
			<div class="linha"></div>
			</div>
			<div class="naoesta">
				<p> Ainda não está no Pinterest? <a href="localhost:8180/cadastro"><font color=gray>Criar Conta</font></a></p>
			</div>
		</div>
				<div class= "configrodape">
				<div class = "rodape">
					<a href="https://about.pinterest.com/pt-br">Sobre o Pinterest&emsp;</a>
					<a href="https://newsroom.pinterest.com/pt-br"> Blog&emsp;</a>
					<a href="https://business.pinterest.com/pt-br">Empresas&emsp;</a>
					<a href="https://policy.pinterest.com/pt-br/terms-of-service">Termos de servico&emsp;</a>
					<a href="https://br.pinterest.com/_/_/about/privacy/">Politica de Privacidade&emsp;</a>
					<a href="https://help.pinterest.com/pt-br?utm_campaign=signup_page&utm_source=web">Ajuda&emsp;</a>
					<a href="https://itunes.apple.com/us/app/pinterest/id429047995">App para Iphone&emsp;</a>
					<a href="https://play.google.com/store/apps/details?id=com.pinterest">App para Android&emsp;</a>
					<a href="https://br.pinterest.com/html_sitemap/pinners_a.html">Usuarios&emsp;</a>
					<a href="https://br.pinterest.com/html_sitemap/boards_a.html">Colecoes</a>
				</div>
				</div>

		<div class="fundofixo">
			<div class="coluna1">
				<img src="img1.png" alt="img1"></img> 
				<img src="img2.png" alt="img2"></img>
			</div>
			<div class="coluna2">
				<img src="img3.png" alt="img3"></img> 
				<img src="img4.png" alt="img4"></img> 
			</div>
			<div class="coluna3">
				<img src="img5.png" alt="img5"></img> 
				<img src="img6.png" alt="img6"></img> 
			</div>
			<div class="coluna4">
				<img src="img10.png" alt="img10"></img> 
				<img src="img8.png" alt="img8"></img> 
			</div>
			<div class="coluna5">
				<img src="img9.png" alt="img9"></img> 
				<img src="img7.png" alt="img7"></img> 
			</div>
		</div>
		<div class="transparente"> </div>	 
	</body>

</html>